#header-section {
    background-color: #fff;
  }
  
  #header-section #header-cont {
    padding: 10px;
  }
  
  #header-section #header-cont ol {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
  }
  
  #header-section #header-cont ol > li {
    position: relative;
    cursor: pointer;
  }
  
  #header-section #header-cont ol li a {
    text-decoration: none;
    color: inherit;
  }
  
  #header-section #header-cont ol li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    min-width: 180px;
  }
  
  #header-section #header-cont ol li:hover > ul {
    display: block;
  }
  
  #header-section #header-cont ol li ul li {
    padding: 10px;
    font-size: 14px;
  }
  
  #header-section #header-cont ol li ul li:hover {
    background-color: #d199a0;
    font-weight: 700;
    transition: font-weight .1s ease-in-out;
  }
  
  #header-section #header-cont ol > li.active a {
    color: #007bff;
  }
  @media only screen and (max-width:500px){
    
  #header-section #header-cont ol{
    display: none;
  }
  }